<template name="editAction">

    {{#if currentUser}}

        <form class="form-horizontal">
            <div class="col-md-8">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Editer action</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nom">Titre de l'action <strong>*</strong> </label>

                        <div class="col-md-4">
                            <input id="titre" name="titre" type="text" placeholder="titre de l'action"
                                   class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="type">Type de l'action <strong>*</strong> </label>

                        <div class="col-md-4">
                            <select id="type" name="type" class="form-control input-md">
                                <option {{selectedIfEquals currentActionType 'sensibilisation' }}
                                        value="sensibilisation">Sensibilisation
                                </option>
                                <option {{selectedIfEquals currentActionType 'formation' }} value="formation">
                                    Formation
                                </option>
                                <option {{selectedIfEquals currentActionType 'encadrement' }} value="encadrement">
                                    Encadrement
                                </option>
                                <option {{selectedIfEquals currentActionType 'foire' }} value="foire">Foire</option>
                                <option {{selectedIfEquals currentActionType 'autre' }} value="autre">Autre</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="budget">Budget demandé <strong>*</strong> </label>

                        <div class="col-md-4">
                            <input id="budget" name="budget" type="text" placeholder="Budget demande"
                                   class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lieux">Lieux <strong>*</strong> </label>

                        <div class="col-md-4">
                            <input id="lieux" name="lieux" type="text" placeholder="Lieux de l'action"
                                   class="form-control input-md" required="">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lieux">Date prévue <strong>*</strong> </label>

                        <div class="col-md-4">
                            <input id="date" type="text" placeholder="Date prevue"
                                   class="form-control input-md datetimepicker" required="">
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="desc">Description</label>

                        <div class="col-md-4">
                            <textarea class="form-control" rows="5" id="desc" name="desc"></textarea>
                        </div>
                    </div>

                    {{#if currentUser.profile.region}}
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Valider"></label>

                            <div class="col-md-4">
                                <a class="btn btn-success updateAction">Mettre a jour</a>
                            </div>
                        </div>
                    {{/if}}


                </fieldset>
            </div>
        </form>


    {{else}}
        {{>login}}
    {{/if}}


</template>