<template name="editFond">
    {{#if currentUser}}
        <h3><i class="fa fa-angle-right"></i> Modifier Fond</h3>

        <form>
            <div class="col-md-offset-1 col-md-4">

                <div class="form-group">
                    <label for="InputDescription">Montant du fond</label>
                    <input type="number" id="InputDescription" class="form-control montant">
                </div>
                <div class="form-group">
                    <label for="InputDescription">D&eacute;scription</label>
                    <textarea id="InputDescription" class="form-control bailleurDesc" rows="3"></textarea>
                </div>


                <div class="form-group">
                    <label for="justificatif">Justificatif</label>
                    <input id="justificatif" type="file" class="file file_bag3" data-show-upload="true"
                           data-show-caption="true">
                </div>
                <a class="btn btn-success editFond">Modifier</a>
                {{>progressBarEditFond}}
            </div>

        </form>


        <script>
            function attention() {
                resultat = window.confirm('Attention, vous êtes sur le point de supprimer un Bailleur, voulez-vous continuer ?');
                if (resultat == 1) {
                    $('#testRemove').val(null);
                }
                else {
                    $('#testRemove').val("yes");
                    return false;
                }
            }
        </script>
    {{/if}}

    <input type="hidden" id="testRemove">
</template>

<template name="progressBarEditFond">
    <div class="col-md-4">
        <div class="progress" style="display: block; margin: 0 auto;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:{{progress}}%;">
                <span>{{progress}}% Complete</span>
            </div>
        </div>
    </div>
</template>