<template name="editFond">
    {{#if currentUser}}
        <h3><i class="fa fa-angle-right"></i> Modifier Fond</h3>

        <form>
            <div class="col-md-offset-1 col-md-4">

                <div class="form-group">
                    <label for="InputDescription">Nom du Bailleur</label>
                    <select id="dqhd" name="idBailleur" class="form-control idBailleur">
                        {{#each bailleurList}}
                            <option value={{this._id}}>{{this.nomBailleur}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="montantFond">Montant du Fond</label>
                    <input id="montantFond" type="number" class="form-control montantFond">
                </div>

                <div class="form-group">
                    <label for="inputDate">Date de Fond<strong>*</strong></label>
                    <input type="text"
                           class="form-control dateFond datetimepicker"
                           id="inputDate" placeholder="Choisissez une Date">
                </div>

                <div class="form-group">
                    <label for="justificatif">Justificatif</label>
                    <input id="justificatif" type="file" class="file file_bag3" data-show-upload="true"
                           data-show-caption="true">
                </div>


                <a class="btn btn-success editFond">Modifier</a>
                {{>progressBarEditFond}}
            </div>

        </form>


    {{/if}}

</template>

<template name="progressBarEditFond">
    <div class="col-md-4">
        <div class="progress" style="display: block; margin: 0 auto;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:{{progress}}%;">
                <span>{{progress}}% Complete</span>
            </div>
        </div>
    </div>
</template>