<template name="login">
    <div id="login-page">
        <div class="container">
            <div class="login-logo">
                <img src="fimaplogo.png" alt="FIMAP logo"/>
            </div>

            <form class="form-login" action="dashboard.html">
                <h2 class="form-login-heading">Authentifiez-vous</h2>

                <div class="login-wrap">
                    <input type="text" class="form-control login" placeholder="Nom d'utilisateur" autofocus>
                    <br>
                    <input type="password" class="form-control password" placeholder="Mot de Passe">
                    <br>
                    <a href="#" class="btn btn-block login-button loginButton"><i class="fa fa-lock"></i>Connexion</a>
                    <small style="float: right">V. 0.4</small>
                </div>
            </form>
        </div>
    </div>
</template>