<template name="editAdherent">

    {{#if currentUser}}

        <form class="form-panel">

            <fieldset>
                <div class="col-md-12">
                    <!-- Form Name -->
                    <legend>Fiche de l'adhérent : {{currAdh.nom}} {{currAdh.prenom}}</legend>

                    <div class="form-group col-md-3">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                 style="width: 200px; height: 150px;">
                                <img src="{{currAdh.profilePic}}">
                            </div>
                            <div class="col-md-4">
                                <input id="upload1" type="file" class="file_bag"/>
                                <a href="#" class="btn btn-default fileinput-exists"
                                   data-dismiss="fileinput">Supprimer</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="prenom">Prenom <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <input id="prenom" name="prenom" type="text" placeholder="prenom"
                                       class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="nomFamille">Nom de famille
                                <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <input id="nomFamille" name="nomFamille" type="text" placeholder="Nom de famille"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="cin">CIN <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <input id="cin" name="cin" type="text" placeholder="CIN" class="form-control input-md"
                                       required="">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="dateNaissance">Date de Naissance
                                <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <input id="dateNaissance" name="dateNaissance" type="text"
                                       placeholder="Date de Naissance" class="form-control input-md datetimepicker"
                                       required="">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label">Sexe <strong>*</strong> </label>

                            <label class="radio-inline" style="margin-left: 15px;">
                                <input type="radio" name="inlineRadioOptions" id="hommeRadio" value="homme"> Homme
                            </label>
                            <label class="radio-inline" style="margin-left: 50px;">
                                <input type="radio" name="inlineRadioOptions" id="femmeRadio" value="femme"> Femme
                            </label>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="numEnreg">Numero d'enregistrement
                                <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <input id="numEnreg" name="numEnreg" type="text" placeholder="Numero d'enregistrement"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="tel">Telephone</label>

                            <div class="col-md-6">
                                <input id="tel" name="tel" type="text" placeholder="Telephone"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="email">Email</label>

                            <div class="col-md-6">
                                <input id="email" name="email" type="text" placeholder="Adresse Mail"
                                       class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="adhérent">adhérent à</label>

                            <div class="col-md-6">
                                <input id="adherent" name="adhérent" type="text" placeholder="adhérent"
                                       class="form-control input-md">

                            </div>
                        </div>


                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="ville">Ville</label>

                            <div class="col-md-6">
                                <select id="ville" name="ville" class="form-control" required="">
                                    {{#if currentUser.profile.region}}
                                        {{#each villes}}
                                            <option {{selectedIfEquals currAdh.ville this._id }}
                                                    value="{{this._id}}">{{this.nom}}</option>
                                        {{/each}}
                                    {{else}}
                                        {{#each villesAdmin}}
                                            <option {{selectedIfEquals currAdh.ville this._id }}
                                                    value="{{this._id}}">{{this.nom}}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="province">province</label>

                            <div class="col-md-6">
                                <select id="province" name="province" class="form-control">
                                    {{#if currentUser.profile.region}}
                                        {{#each provinces}}
                                            <option {{selectedIfEquals currAdh.province this._id }}
                                                    value="{{this._id}}">{{this.nom}}</option>
                                        {{/each}}
                                    {{else}}
                                        {{#each provincesAdmin}}
                                            <option {{selectedIfEquals currAdh.province this._id }}
                                                    value="{{this._id}}">{{this.nom}}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="cps">Code province
                                <strong>*</strong> </label>

                            <div class="col-md-6">
                                <input id="cps" name="cps" type="text" placeholder="Code province"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="commune">Commune</label>

                            <div class="col-md-6">
                                <select id="commune" name="commune" class="form-control">
                                    {{#each communes}}
                                        <option {{selectedIfEquals currAdh.commune this._id }}
                                                value="{{this._id}}">{{this.nom}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="adresse">Adresse</label>

                            <div class="col-md-6">
                                <textarea class="form-control" id="adresse" name="adresse"
                                          placeholder="Adresse de l'adhérent"></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-5 control-label">Nombre de Ruches <strong>*</strong>
                            </label>

                            <div class="col-md-6">
                                <div class="col-md-6" style="padding-left: 0 !important;">
                                    <label>Sahariennes</label>
                                    <input style="font-size: 14px; color: #555; max-width: 100%;" type="number"
                                           id="nbrRuchesSah">
                                </div>
                                <div class="col-md-6">
                                    <label>Noires</label>
                                    <input style="font-size: 14px; color: #555; max-width: 100%;" type="number"
                                           id="nbrRuchesNoires">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label" for="numRecu">N° reçu de la cotisation annuelle<strong>*</strong>
                            </label>

                            <div>
                                <input id="numRecu" name="numRecu" type="text" placeholder="Numéro du reçu de paiement de la cotisation annuelle"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label" for="montantCotisation">Montant de la cotisation annuelle<strong>*</strong>
                            </label>

                            <div>
                                <input id="montantCotisation" name="montantCotisation" type="number" placeholder="Montant de la cotisation annuelle"
                                       class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="commentaire">Commentaire</label>

                            <div class="col-md-6">
                                <textarea class="form-control" id="commentaire" name="commentaire"></textarea>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group row">
                            <label class="col-md-5 control-label" for="Valider"></label>

                            <div class="col-md-3">
                                <a class="btn btn-success updateAdherent">Mettre à jour</a>
                            </div>
                            {{>progressBar5}}
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>



    {{else}}
        {{>login}}
    {{/if}}



</template>

<template name="progressBar5">
    <div class="col-md-3">
        <div class="progress" style="display: block; margin: 0 auto;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:{{progress}}%;">
                <span>{{progress}}% Complete</span>
            </div>
        </div>
    </div>
</template>